<div class="page-container">
  <!-- Navbar -->
  <div class="navbar">
    <h1>Wordle</h1>
    <!-- Burger icon -->
    <div class="burger-menu" (click)="goBackToMenu()">
      <div class="burger-line"></div>
      <div class="burger-line"></div>
      <div class="burger-line"></div>

    </div>
  </div>

  <!-- Sidebar -->
  <!-- <div id="sidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="goBackToMenu()">&times;</a>
    <a routerLink="/">Back to Menu</a>
  </div> -->

  <!-- Main Content Container -->
  <div class="main-content">
    <!-- Game Grid -->
    <div class="wordle-grid">
      <div class="row" *ngFor="let row of guesses; let rowIndex = index">
        <div class="cell"
          *ngFor="let tile of row; let tileIndex = index"
          [ngClass]="{'correct': colors[rowIndex][tileIndex] === 'green',
          'incorrect': colors[rowIndex][tileIndex] === 'grey',
          'partial': colors[rowIndex][tileIndex] === 'yellow'}">
          {{ tile }}
        </div>
      </div>
    </div>

    <!-- Input box and button -->
    <app-keyboard (letterSelected)="addLetter($event)" 
    (deleteSelected)="deleteLetter()" 
    (enterSelected)="submitGuess()">
</app-keyboard>

    <!-- Feedback messages -->
    <p *ngIf="gameWon">Congratulations, you've won!</p>
    <p *ngIf="gameLost">Game Over. The correct word was: {{ correctWord }}</p>

    <!-- Restart Button -->
    <button *ngIf="gameWon || gameLost" (click)="goBackToMenu()">Back to Menu</button>
  </div>
</div>
